<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
  <head>
    <meta charset="UTF-8">
    <title th:text="${title}">Insert title here</title>
  </head>

<body>
<div layout:fragment="content">
    <h1 th:text="${title}">在庫検索</h1>
    <p th:if="${complete}" th:text="${complete}"></p>

<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4">
      <form method="POST" th:action="@{/inventory/id_search}" th:object="${inventorySearchReq}">
        <label>日付：</label>
        <input type="date" name="reportDate" th:value="*{reportDate}"/>
        <input type="submit" class="btn btn-secondary" value="　検索　">
        <div th:if="${#fields.hasErrors('reportDate')}" th:errors="*{reportDate}"></div>
      </form>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="btn btn-primary" href="/inventory/form">＋ 在庫を入力</a>
      </nav>
    </div>

    <table class="table table-striped" style="max-width :1000px; margin-left: auto;
    margin-right: auto;">
      <thead>
        <tr>
          <th scope="col">商品名/単位</th>
          <th scope="col">在庫数</th>
          <th scope="col">最終更新日時</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="obj : ${list}">
          <td th:text="${obj.productsName.name}">(商品名)</td>
          <td th:text="${obj.quantity}">(在庫数)</td>
          <td th:text="${obj.updatedAt}">(最終更新日時)</td>
          <td><a class="btn btn-outline-primary" th:href="@{/inventory/{id}(id=${obj.id})}">編集</a></td>
          <td>
            <button class="delete-action btn btn-outline-danger" type="submit">削除</button>
          </td>

        </tr>

      </tbody>
    </table>
</div>
</body>
</html>